@import '~@angular/material/theming';
@import './src/sass/mixins';
main{
    @include Flex-Instancja(100%, 100%, column nowrap);
    @include Flex-Uklad(flex-start, stretch, stretch);
    @include Flex-Przewijak(hidden, hidden);
    
}
mat-toolbar{
    @include Flex-Instancja(auto, auto, row wrap);
    @include Flex-Uklad(space-between, baseline, center);
    @include mat-elevation(9);
    span{
        display: inline-flex;
        
    }
}
mat-sidenav-container{
    @include Flex-Element(1 1 auto, 0px);
    @include Flex-Instancja(auto, auto, row nowrap);
    @include Flex-Uklad(flex-start, stretch, stretch);
    
    mat-sidenav{
        @include Flex-Instancja(11rem, 100%, column nowrap);
        @include mat-elevation(9);

       

        

    }
    mat-sidenav-content{
        @include Flex-Instancja(auto, auto, row nowrap);
        @include Flex-Uklad(flex-start, stretch, stretch);
        @include Flex-Element(1 1 auto, 0px);
        @include ObrazekTla(cover, '../assets/images/BACKGROUND.png', 6.5rem);

    }

}
mat-expansion-panel-header:hover, mat-list-item:hover{
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    
}
::ng-deep .parametersPanel .mat-expansion-panel-body {
    padding-right: 0px;
}
aside {      
    display: grid;
    height: calc(100% - 1.4rem);
    width: calc(100% - 11rem);
    position: fixed;
    top: 1.4rem;
    left: 11rem;    
    background-color: rgba(3, 17, 146, 0.15);
    z-index: 100;    
}
mat-card {
    @include mat-elevation(12);
    margin-right: 0.7rem;
    margin-bottom: 1.3rem;
    

    @include Flex-Instancja(100%, 100%, column nowrap);
    @include Flex-Uklad(flex-start, stretch, stretch);
    mat-tab-group{
        margin: 0.4rem 0.1rem;
        @include mat-elevation(12);
        @include Flex-Instancja(flex-start, stretch, stretch);
        
    }
}
.kl-avatar {
    background-image: url(../assets/images/avatar.jpg);
    background-size: cover;
}
::ng-deep .mat-tab-body-wrapper {    
    //border: 0.2rem solid green;
    @include Flex-Przewijak(hidden, hidden);
    @include Flex-Element(1 1 auto, 0.1rem);
}

::ng-deep .mat-tab-body-content{
    @include Flex-Przewijak(hidden, hidden);    
    padding: 0.1rem;
    ///border: 0.2rem solid rgb(2, 0, 128);
}
.pokz-info{
    z-index: 110;  
    right: 0.1rem;
    bottom: 0.1rem;
    position: fixed !important;
}
a.buttonFacebook{
        background-color: #3b5998;
        color: #f7f7f7;   
}
a.buttonMail{
    background-color: #971b13;
    color: #f7f7f7;   
}