<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
      <mat-toolbar>
          <span style="color: rgb(0, 138, 202); font-size: 1.4rem;">D</span>
          <span style="color: rgb(220, 37, 226); font-size: 1.2rem;">N</span>
          <span style="color: rgb(197, 162, 5); font-size: 1.1rem;">A</span>
          <span style="color: rgb(238, 238, 238); font-size: 1rem;">4</span>
          <span style="color: rgb(30, 150, 0); font-size: 1.1rem;">G</span>
          <span style="color: rgb(30, 150, 0); font-size: 1.2rem;">E</span>
          <span style="color: rgb(30, 150, 0); font-size: 1.4rem;">N</span>
          <span class="kl-dystans"></span>
          <button mat-icon-button [matMenuTriggerFor]="languageMENU">
             <mat-icon>language</mat-icon>
          </button>
          <mat-menu #languageMENU="matMenu">
              <button mat-menu-item (click)="useLanguage('pol')">
                <span class="flag-icon kl-size-Flags flag-icon-pl"></span>
                <span [translate]="'root.nav.language.pol'"></span>
              </button>
              <button mat-menu-item (click)="useLanguage('ukr')">
                  <span class="flag-icon kl-size-Flags flag-icon-ua"></span>
                <span [translate]="'root.nav.language.ukr'"></span>
              </button>
              <button mat-menu-item (click)="useLanguage('ces')">
                  <span class="flag-icon kl-size-Flags flag-icon-cz"></span>
                <span [translate]="'root.nav.language.ces'"></span>
              </button>
              <button mat-menu-item (click)="useLanguage('hun')">
                  <span class="flag-icon kl-size-Flags flag-icon-hu"></span>
                  <span [translate]="'root.nav.language.hun'"></span>
              </button>
              <button mat-menu-item (click)="useLanguage('lit')">
                <span class="flag-icon kl-size-Flags flag-icon-lt"></span>
                <span [translate]="'root.nav.language.lit'"></span>
            </button>
              <button mat-menu-item (click)="useLanguage('yid')" disabled>
                  <span class="flag-icon kl-size-Flags flag-icon-il"></span>
                  <span [translate]="'root.nav.language.yid'"></span>
              </button>
              <button mat-menu-item (click)="useLanguage('deu')">
                  <span class="flag-icon kl-size-Flags flag-icon-at"></span>
                  <span [translate]="'root.nav.language.deu'"></span>
              </button>
              <button mat-menu-item (click)="useLanguage('eng')">
                  <span class="flag-icon kl-size-Flags flag-icon-us"></span>
                  <span [translate]="'root.nav.language.eng'"></span>
              </button>
            </mat-menu>
      </mat-toolbar>
      <mat-tab-group headerPosition="below">
          <mat-tab label="DNA"><DNA-nav-C-genetyka></DNA-nav-C-genetyka></mat-tab>
          <mat-tab label="GEN"><DNA-nav-C-genealogia></DNA-nav-C-genealogia></mat-tab>
          <mat-tab label="???"><DNA-nav-C-niewiedza></DNA-nav-C-niewiedza></mat-tab>
        </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content>
      <main>
          <router-outlet></router-outlet>
      </main>
  </mat-sidenav-content>
</mat-sidenav-container>
