<main>
  <mat-toolbar>
    <span>
      <h1 class="mat-display-1">Cisowscy.github.io/DNA/</h1>
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select>
      <h1 class="mat-display-1">/</h1>
    </span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-accordion>
        <ng-container *ngFor="let poziomA of nawigacja">
          <ng-container [ngSwitch]="poziomA.grupa">
            <mat-expansion-panel *ngSwitchCase="true">
              <mat-expansion-panel-header>
                <mat-panel-title matTooltip="poziomA.opis" matTooltipPosition="after">
                  {{ poziomA.nazwa }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-accordion>
                <ng-container *ngFor="let poziomB of poziomA.elementy">
                  <ng-container [ngSwitch]="poziomB.grupa">
                    <mat-expansion-panel *ngSwitchCase="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title matTooltip="poziomB.opis" matTooltipPosition="after">
                          {{ poziomB.nazwa }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-accordion>
                        <ng-container *ngFor="let poziomC of poziomB.elementy">
                          <ng-container [ngSwitch]="poziomC.grupa">
                            <mat-expansion-panel *ngSwitchCase="true">
                              <mat-expansion-panel-header>
                                <mat-panel-title matTooltip="poziomC.opis" matTooltipPosition="after">
                                  {{ poziomC.nazwa }}
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <mat-accordion>
                                <ng-container *ngFor="let poziomD of poziomC.elementy">
                                  <ng-container [ngSwitch]="poziomD.grupa">
                                    <mat-expansion-panel *ngSwitchCase="true">
                                      <mat-expansion-panel-header>
                                        <mat-panel-title matTooltip="poziomD.opis" matTooltipPosition="after">
                                          {{ poziomD.nazwa }}
                                        </mat-panel-title>
                                      </mat-expansion-panel-header>
                                      <mat-list *ngFor="let poziomE of poziomD.elementy">
                                        <mat-divider></mat-divider>
                                        <mat-list-item matTooltip="poziomE.opis" matTooltipPosition="after">{{ poziomE.nazwa }}</mat-list-item>
                                        <mat-divider></mat-divider>
                                      </mat-list>
                                    </mat-expansion-panel>
                                    <mat-list *ngSwitchCase="false">
                                      <mat-divider></mat-divider>
                                      <mat-list-item matTooltip="poziomD.opis" matTooltipPosition="after">{{ poziomD.nazwa }}</mat-list-item>
                                      <mat-divider></mat-divider>
                                    </mat-list>
                                  </ng-container>
                                </ng-container>
                              </mat-accordion>
                            </mat-expansion-panel>
                            <mat-list *ngSwitchCase="false">
                              <mat-divider></mat-divider>
                              <mat-list-item matTooltip="poziomC.opis" matTooltipPosition="after">{{ poziomC.nazwa }}</mat-list-item>
                              <mat-divider></mat-divider>
                            </mat-list>
                          </ng-container>
                        </ng-container>
                      </mat-accordion>
                    </mat-expansion-panel>
                    <mat-list *ngSwitchCase="false">
                      <mat-divider></mat-divider>
                      <mat-list-item matTooltip="poziomB.opis" matTooltipPosition="after">{{ poziomB.nazwa }}</mat-list-item>
                      <mat-divider></mat-divider>
                    </mat-list>
                  </ng-container>
                </ng-container>
              </mat-accordion>
            </mat-expansion-panel>
            <mat-list *ngSwitchCase="false">
              <mat-divider></mat-divider>
              <mat-list-item matTooltip="poziomA.opis" matTooltipPosition="after">{{ poziomA.nazwa }}</mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </ng-container>
        </ng-container>
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--<router-outlet></router-outlet>-->      
    </mat-sidenav-content>
  </mat-sidenav-container>


</main>
<ng-container *ngIf="showInfo">
<aside>
    <mat-grid-list cols="5" rowHeight="50%">
        <mat-grid-tile  colspan="3"></mat-grid-tile>
        <mat-grid-tile  colspan="2"></mat-grid-tile>
        <mat-grid-tile  colspan="3"></mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card>
                <mat-tab-group>
                    <mat-tab>
                      <ng-template mat-tab-label>
                          <div mat-card-avatar class="kl-avatar"></div> 
                          <span class="mat-title">{{ 'info.projekt.p0title' | translate }}</span>
                      </ng-template>
                      <article>
                          <p [translate]="'info.projekt.p1'" class="mat-body-2"></p>
                          <p [translate]="'info.projekt.p2'" class="mat-body-2"></p>
                          <p [translate]="'info.projekt.p3'" class="mat-body-2"></p>
                          <p [translate]="'info.projekt.p4'" class="mat-body-2"></p>                          
                          <p [translate]="'info.projekt.p6'" class="mat-body-2"></p>
                          <a href="https://www.facebook.com/groups/GenealogiaGenetyczna/" target="_blank" mat-raised-button class="buttonFacebook">Facebook: GenealogiaGenetyczna</a>
                          
                      </article>
                    </mat-tab>
                    <mat-tab>
                    <ng-template mat-tab-label>
                        <div mat-card-avatar class="kl-avatar"></div> 
                        <span class="mat-title">{{ 'info.autor.p0title' | translate }}</span>
                    </ng-template>
                    <article>
                        <p [translate]="'info.autor.p1'" class="mat-body-2"></p>
                        <p [translate]="'info.autor.p2a'" class="mat-body-2"></p>
                        <a href="https://www.facebook.com/JanRomanCisowski" target="_blank" mat-raised-button class="buttonFacebook">Facebook: J.R.Cisowski</a>
                                              
                        <p [translate]="'info.autor.p2b'" class="mat-body-2"></p>
                        <a href="mailto:4gen@Cisowscy.com?subject=Korespondencja_z_DNA_github_Cisowscy" target="_blank" mat-raised-button class="buttonMail">E-Mail: J.R.Cisowski</a>
                        <p [translate]="'info.autor.p3'" class="mat-body-2"></p>
                    </article>
                  </mat-tab>
                  </mat-tab-group>
                <!--<mat-card-content>
                    
                  </mat-card-content>-->
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</aside>
</ng-container>
<button mat-fab class="pokz-info" (click)="toggleInfo()">
    <mat-icon aria-label="Example icon-button with a heart icon">info</mat-icon>
</button>
