<div class="flexbox-parent">
    <mat-toolbar class="flexbox-item">https://Cisowscy.github.io/DNA/</mat-toolbar>

    <section class="flexbox-item fill-area content flexbox-item-grow">
        <div class="fill-area-content flexbox-item-grow"></div>
        <mat-card class="fill-area-content flexbox-item-grow">
            <mat-card-header>
                <div mat-card-avatar class="kl-avatar"></div>
                <mat-card-title [translate]="'info.projekt.p0title'"></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p [translate]="'info.projekt.p1'"></p>
                <p [translate]="'info.projekt.p2'"></p>
                <p [translate]="'info.projekt.p3'"></p>
                <p [translate]="'info.projekt.p4'"></p>
                <p [translate]="'info.projekt.p5'"></p>
                <p [translate]="'info.projekt.p6'"></p>
              </mat-card-content>
      </mat-card>
    </section>
  <section class="flexbox-item fill-area content flexbox-item-grow">
      <div class="fill-area-content flexbox-item-grow"></div>
      <mat-card class="fill-area-content flexbox-item-grow">
          <mat-card-header>
              <div mat-card-avatar class="kl-avatar"></div>
              <mat-card-title [translate]="'info.autor.p0title'"></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p [translate]="'info.autor.p1'"></p>
            <p [translate]="'info.autor.p2a'"></p>
            <p [translate]="'info.autor.p2b'"></p>
            <p [translate]="'info.autor.p3'"></p>
          </mat-card-content>
      </mat-card>
  </section>
</div>
